<ion-header>
  <ion-toolbar>
    <ion-title> Mon frigo </ion-title>
    <ion-button slot="end" fill="clear" [routerLink]="['/myfrigo']">
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-searchbar class="ion-margin-vertical"></ion-searchbar>
  </ion-toolbar>

  <ion-text class="ion-text-center" color="dark">
    <h1>T'as quoi dans ton frigo ?</h1>
  </ion-text>

  <ion-list>
    <!-- <app-message
      *ngFor="let message of getMessages()"
      [message]="message"
    ></app-message> -->
  </ion-list>
</ion-content>
